.numOfFruit.ui-block-a{
  color: darkgrey;
  width: 10%!important;
}
.fruit.ui-block-b{
  width: 80% !important;
  text-align: center;
}
.numOfDays.ui-block-c p{
  font-size: 12px;
  color: darkgrey;
  text-align: right;
  margin: 0px;
  text-align: center;
  line-height: initial;
}
h1{
  text-align: center!important;
}