#inventoryTable .ui-block-a{
  width: 10%!important;
  display: block!important;
}
.numOfFruit.ui-block-b{
  width: 10%!important;
}
.fruit.ui-block-c{
  width: 70% !important;
  text-align: center;
}
.numOfDays.ui-block-d p{
  font-size: 12px;
  text-align: right;
  margin: 0px;
  text-align: center;
  line-height: initial;
}
h1{
  text-align: center!important;
}
i{
  vertical-align:-webkit-baseline-middle;
}
input[type="date"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
/* .notext .ui-btn-text{
  padding-right: 0;
  margin-right: -5px; /* not a perfect soltiuon, leaves border along top */
.groceryItem{
  margin: 0px;
  background: white;
  border-width: 0px 0px 3px 0px;
  border-color: lightgreen;
}
.ui-checkbox-on .ui-icon{
  background-color: rgb(255,255,255);
}
.ui-checkbox-on{
  background-color: rgb(221, 250, 221)!important;
}
.ui-btn-down-b .ui-btn-inner{
  background-color: transparent!important;
}
#addItemForm label{
  color: floralwhite;
}
#itemRecord form{
  color: floralwhite!important;
}
.ui-input-text.ui-focus{
  background-color: white !important;
}